
					/* HEADER */ 




header
{
	background-image: linear-gradient(#25568D, #57a9de);
}

a
{
	color: white;
}

a h1:hover
{
	color: black;
}

h1
{
	color: white;
	margin-left: 10px;
	font-family: dancing_script_otregular, arial, sans-sérif;
}

#admin 
{
	color: white;
	font-size: 1.5em;
	position: relative;
	top: 6px;
}

#admin p 
{
	margin-right: 20px;
}

#admin a
{
	color: white;
	margin-top: -16px;
	margin-right: 20px;
	text-decoration: none;
}

#admin a:hover
{
	border-bottom: 2px white solid;
	margin-top: -14px;
}






					/* PAGE D'ACCUEIL */





body
{
	background-color: #57a9de !important;
}

#img-alaska
{
	width: 100%;
	height: 600px;
	filter: brightness(85%);
}

h2
{
	top: 301px;
	left: 50%;
	margin-left: -314px;
	z-index: 1000;
	padding: 20px;
	border-radius: 20px;
	color: white;
	background-image: linear-gradient(#57a9de, #25568D);
	border: 4px #DADDE2 solid; 
	font-family: dancing_script_otregular, sans-sérif;
}

.news
{
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 18px;
	border: 5px #25568D solid;
	margin-top: 50px;
	margin-bottom: -100px;
	background-color: white;
	position: relative;
	opacity: 1;
}

.news p, .newsUpdate p
{
	font-family: latoregular, sans-sérif;
	font-size: 1.2em;
	font-style: italic;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 50px;
}

h3
{
	background-color: #25568D;
	text-align: center;
	color: white;
	padding: 10px;
	font-family: dancing_script_otregular, sans-sérif;
	font-weight: bold !important;
}

.content
{
	margin-top: 50px;
	margin-bottom: 50px;
}

#authorView
{
	text-align: right;
}

.iconeComment
{
	display: inline;
}

#icone
{
	width: 75px;
	height: 50px;
	border-radius: 20px;
	top: -50px;
	left: 6%;
	background-color: #25568D;
	margin-top: 50px;
	margin-bottom: -90px;
	display: inline-block;
}

#icone:hover > #triangle
{
	border-left: 25px #57a9de solid;
}

#icone:hover
{
	background-color: #57a9de;
}

#icone:hover > #trait1, #icone:hover > #trait2, #icone:hover > #trait3
{
	border-top: 2px #25568D solid;
	border-bottom: 2px #25568D solid;
}

#triangle
{
	width: 0px;
	height: 0px;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px #25568D solid;
	top: 24px;
	left: 15px;
	z-index: 1;
}

#trait1
{
	width: 35px;
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	border-radius: 10px;
	position: absolute;
	top: 14px;
	left: 16px;
	z-index: 2;
}

#trait2
{
	width: 45px;
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	border-radius: 10px;
	position: absolute;
	top: 24px;
	left: 16px;
	z-index: 2;
}

#trait3
{
	width: 25px;
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	border-radius: 10px;
	position: absolute;
	top: 34px;
	left: 16px;
	z-index: 2;
}

#updatePost, #deletePost
{
	position: relative;
	width: 100px;
	margin: auto;
	color: white;
	border: 2px #25568D solid;
	background-color: #25568D;
	padding: 15px;
	border-radius: 30px;
	top: -18px;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

#updatePost
{
	left: -10px;
}

#deletePost
{
	top: -76px;
	left: 94%;
	width: 120px;
	margin-left: -117px !important;
}

#updatePost:hover, #deletePost:hover
{
	color: #25568D;
	background-color: #57a9de;
	text-decoration: none;
	border: 2px #57a9de solid;
}

.confirm
{
	border: 5px #25568D solid;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	background-color: white;
	width: 50%;
	position: relative;
	top: -290px;
	height: 200px;
	margin: auto;
	text-align: center;
	z-index: 10;
	visibility: hidden;
}

.confirmComment
{
	border: 5px #25568D solid;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	background-color: white;
	width: 50%;
	position: relative;
	top: 64px;
	height: 200px;
	margin: auto;
	text-align: center;
	z-index: 10;
	visibility: hidden;
}

.confirm a:hover, .confirmComment a:hover
{
	text-decoration: none;
}

.confirm p, .confirmComment p
{
	font-size: 1.3em;
}

#yes, #no, #yesComment, #noComment
{
	background-color: #25568D;
	border: 5px #25568D solid;
	border-radius: 20px;
	color: white;
	padding: 5px;
	font-size: 1.2em;
	position: relative;
	top: 35px;
}

#yes:hover, #no:hover, #yesComment:hover, #noComment:hover
{
	background-color: #57a9de;
	color: #25568D;
	border: 5px #57a9de solid;
}

#yes, #yesComment
{
	right: 25px;
}

#no, #noComment
{
	left: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
}





					/* PAGE COMMENTAIRE */





#ajouterComment
{
	margin-top: 150px !important;
	width: 80%;
	margin: auto;
	border: 5px #25568D solid;
	border-radius: 10px;
	margin-bottom: 50px;
	background-color: #25568D;
}

h4
{
	background-color: #25568D;
	text-align: center;
	color: white;
	padding: 10px;
	margin-top: 150px;
	margin: auto;
	border-radius: 20px;
}

.form-control
{
	width: 90% !important;
	margin: auto !important;
}

#envoyer
{
	background-color: white;
	border: 2px white solid;
	color: #25568D;
	width: 30% !important;
}

#envoyer:hover
{
	background-color: #25568D;
	color: white;
}

.commentaire
{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 50px;
	border: 5px #25568D solid;
	border-radius: 10px;
	background-color: white;
}

#titleComment
{
	background-color: #25568D;
	text-align: center;
	color: white;
	padding: 10px;
}

#contentComment
{
	text-align: center;
}

#divSignaler
{
	background-color: #25568D;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 10px;
}

#signaler
{
	color: #25568D;
	background-color: white;
	border-radius: 15px;
	width: 72px;
	margin: auto;
	padding: 5px;
	border: 2px #25568D solid;
	display: block;
}

#signaler:hover
{
	color: white;
	background-color: #57a9de;
	border: 2px #57a9de solid;
	text-decoration: none;
}





					/* PAGE UPDATE POST */





.newsUpdate
{
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 18px;
	border: 5px #25568D solid;
	margin-top: 50px;
	background-color: white;
}

#updateDiv, #newPost
{
	width: 80% !important;
	margin: auto;
}

#updateDiv label, #newPost label
{
	width: 15% !important;
	margin-right: 20px !important;
	margin-top: 40px;
	background-color: #25568D;
	border: 1px #25568D solid;
	color: white;
}

.h4Update
{
	width: 80%;
	border-radius: 20px;
	margin: auto;
	margin-top: 50px;
}

#titleUpdate, #titleCrea
{
	margin-top: 40px !important;
}

#labelTitleCrea, #labelTitleUpdate
{
	margin-top: 40px !important;
}

#labelTitleUpdate
{
	margin-bottom: 20px !important;
}

#validationUpdatePost, #validationCreationPost
{
	margin-top: 30px !important;
	width: 20% !important;
	margin-bottom: 50px !important;
	border: 1px white solid;
}

#validationUpdatePost:hover, #validationCreationPost:hover
{
	background-color: #25568D;
	border: 1px #25568D solid;
	color: white;
}





					/* PAGE MON COMPTE */





#changeMDP, #changePseudo, #changeEmail
{
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

#changeMDP input, #changePseudo input, #changeEmail input
{
	margin-right: 20px;
}

#modifMDP, #modifPseudo, #modifEmail
{
	background-color: white;
	border: 4px #25568D solid;
	border-radius: 20px;
	width: 280px;
	margin-left: -143px;
	position: relative;
	left: 50%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#modifMDP:hover, #modifPseudo:hover, #modifEmail:hover
{
	background-color: #25568D;
	color: white;
}

#buttonMDP, #buttonPseudo, #buttonEmail
{
	margin-left: 12px !important;
	width: 100% !important;
}

#buttonMDP:hover, #buttonPseudo:hover, #buttonEmail:hover
{
	background-color: #25568D;
	border: 1px #25568D solid;
	color: white;
}

.commentaireSignaler
{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
	margin-bottom: -250px;
	border: 5px #25568D solid;
	border-radius: 10px;
	background-color: white;
}

#approve
{
	color: white;
	padding: 10px;
	background-color: #25568D;
	border: 2px #25568D solid;
	border-radius: 20px;
	margin-left: -150px;
	position: relative;
	left: 50%;
}

#deleteComment
{
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #25568D;
	border: 2px #25568D solid;
	border-radius: 20px;
	position: relative;
	left: 50%;
	margin-left: 100px;
	margin-bottom: 20px;
}

#approve:hover, #deleteComment:hover
{
	color: #25568D;
	background-color: #57a9de;
	border: 2px #57a9de solid;
	text-decoration: none;
}

#newPost
{
	margin-top: 150px;
}

#labelAuthorCrea
{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}






					/* PAGE ERREUR / CONFIRMATION */






#erreur p, #confirmation p
{
	background-color: white;
	border: 5px #25568D solid;
	border-radius: 20px;
	text-align: center;
	width: 70%;
	margin: auto;
	padding: 10px;
	margin-top: 20px !important;
}











					/* RESPONSIVE TABLETTE */






@media all and (max-width: 992px)
{
	header
	{
		flex-direction: column;
	}

	h1
	{
		text-align: center;
	}

	#admin
	{
		justify-content: center;
		padding-bottom: 10px;
		flex-direction: row;
	}

	#changeMDP, #changePseudo, #changeEmail
	{
		flex-direction: column;
		align-items: center;
	}

	#changeMDP input, #changePseudo input, #changeEmail input
	{
		margin-right: 0px;
	}

	#buttonMDP, #buttonPseudo, #buttonEmail
	{
		margin-left: 0px !important;
	}
}






					/* RESPONSIVE MOBILE */






@media all and (max-width: 768px)
{
	#admin
	{
		flex-direction: column;
	}

	#admin p 
	{
		margin-right: 0px;
		padding-bottom: 100px;
	}

	#admin a
	{
		position: absolute;
		margin-right: 0px;
		margin-bottom: 15px;
		margin-top: 5px;
	}

	#admin a:hover
	{
		margin-right: 0px;
		margin-bottom: 15px;
		margin-top: 5px;
	}

	#monCompteBack
	{
		top: 43px;
	}

	#deconnexionBack
	{
		top: 93px;
	}

	h2
	{
		text-align: center;
		top: 450px;
		left: 10%;
		right: 10%;
		margin-left: 0px;
	}

	#icone
	{
		top: -88px;
	}

	.iconeComment
	{
		position: relative;
		left: 50%;
		margin-left: -57px !important;
	}

	#updatePost
	{
		left: 6%;
		margin-left: -8px;
		top: 30px;
	}

	#deletePost
	{
		top: -28px;
		margin-left: -111px !important;
	}

	#envoyer
	{
		width: 50% !important;
	}

	#updateDiv input, #newPost input
	{
		width: 59% !important;
	}

	#updateDiv label, #newPost label
	{
		width: 33% !important;
	}

	.confirm, .confirmComment
	{
		width: 80% !important;
	}

	.confirmComment
	{
		top: 51px;
	}

	#deleteComment
	{
		left: 94%;
		margin-left: -200px
	}

	#approve
	{
		left: 6%;
		margin-left: 0px;
	}

	#yesComment, #noComment
	{
		top: 10px;
	}
}





						/* POLICES */





@font-face {
    font-family: 'dancing_script_otregular';
    src: url('../font/dancingscript-regular-webfont.eot');
    src: url('../font/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../font/dancingscript-regular-webfont.woff') format('woff'),
         url('../font/dancingscript-regular-webfont.ttf') format('truetype'),
         url('../font/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../font/lato-regular-webfont.eot');
    src: url('../font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-regular-webfont.woff2') format('woff2'),
         url('../font/lato-regular-webfont.woff') format('woff'),
         url('../font/lato-regular-webfont.ttf') format('truetype'),
         url('../font/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
