body
{
	background-color: #57a9de !important;
}

#img-alaska
{
	width: 100%;
	height: 600px;
	filter: brightness(85%);
}

.connect
{
	margin-right: 20px;
	border-radius: 8px;
	border: 2px #25568D solid;
	background-color: white;
	color: black;
}

#connexion:hover
{
	background-color: #57a9de;
	color: white;
}

h1
{
	color: white;
	margin-left: 10px;
}

h2
{
	top: 301px;
	left: 50%;
	margin-left: -378px;
	z-index: 1000;
	padding: 20px;
	border-radius: 20px;
	color: white;
	background-image: linear-gradient(#57a9de, #25568D);
	border: 4px #DADDE2 solid; 
}

.news
{
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 18px;
	border: 5px #25568D solid;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
}

.content
{
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 50px;
	margin-bottom: 50px;
}

h3
{
	background-color: #25568D;
	text-align: center;
	color: white;
	padding: 10px;
}

header
{
	background-image: linear-gradient(#25568D, #57a9de);
}

#icone
{
	width: 75px;
	height: 50px;
	border-radius: 20px;
	top: -50px;
	left: 100px;
	background-color: #25568D;
	margin-top: 100px;
	margin-bottom: 25px;
}

#icone:hover > #triangle
{
	border-left: 25px #57a9de solid;
}

#icone:hover
{
	background-color: #57a9de;
}

#icone:hover > #trait1, #icone:hover > #trait2, #icone:hover > #trait3
{
	border-top: 2px #25568D solid;
	border-bottom: 2px #25568D solid;
}

#triangle
{
	width: 0px;
	height: 0px;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px #25568D solid;
	top: 24px;
	left: 15px;
	z-index: 1;
}

#trait1
{
	width: 35px;
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	border-radius: 10px;
	position: absolute;
	top: 14px;
	left: 16px;
	z-index: 2;
}

#trait2
{
	width: 45px;
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	border-radius: 10px;
	position: absolute;
	top: 24px;
	left: 16px;
	z-index: 2;
}

#trait3
{
	width: 25px;
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	border-radius: 10px;
	position: absolute;
	top: 34px;
	left: 16px;
	z-index: 2;
}

#commentaire
{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 5px #25568D solid;
	border-radius: 10px;
	background-color: white;
}

h4
{
	background-color: #25568D;
	text-align: center;
	color: white;
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50px !important;
	border-radius: 10px;
}

#titleComment
{
	background-color: #25568D;
	text-align: center;
	color: white;
	padding: 10px;
}

#contentComment
{
	text-align: center;
}

a
{
	color: white;
}

