#img-alaska
{
	width: 100%;
	height: 600px;
	filter: brightness(85%);
}

.connect
{
	margin-right: 20px;
}

h2
{
	top: 335px;
	left: 50%;
	margin-left: -201px;
	z-index: 1000;
	padding: 20px;
	border-radius: 20px;
	color: white;
	background-image: linear-gradient(to right, #57a9de, #25568D);
	border: 4px #DADDE2 solid; 
}

